<div>
    <h1 style="color: red;">Details</h1>
    <a class="btn btn-danger" [routerLink]="['/maestrodetalle']">Volver</a>
    <hr/>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Apellido: {{empleado.apellido}}</h5>
          <p class="card-text">Oficio: {{empleado.oficio}}</p>
          <p class="card-text">Salario: {{empleado.salario}}</p>
          <p class="card-text">Departamento: {{empleado.departamento}}</p>
        </div>
    </div>
</div>